.section {
  text-align: center;
  color: white;
  padding-top: 2rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 2rem;
  gap: 1.5rem;
  justify-items: center;
}

.heading {
  font-family: Pixeloid;
  background-clip: text;
  -webkit-text-stroke: 2.7px transparent;
  background-image: linear-gradient(
    180deg,
    rgb(255, 1, 1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  font-size: 2.1rem;
  margin-bottom: 3rem;
}

.speaker_image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.data {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
}

.name {
  font-size: 1.5rem;
}

.role {
  font-size: 1rem;
}

.flip_card {
  border-radius: 1rem;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 50%;
}

@media screen and (max-width: 440px) {
  .flip_card {
    width: 100%;
  }
  .name {
    font-size: 1rem;
  }
  .role {
    font-size: 0.8rem;
    height: 0rem;
  }
  .data {
    font-size: 0.7rem;
  }
  .heading {
    margin-bottom: 1rem;
  }
}

.flip_card_front,
.flip_card_back {
  background-size: cover;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  width: 100%;
  height: 425px;
  border-radius: 0.6rem;
  background-color: black;
  color: #fff;
  font-size: 1.5rem;
}

.flip_card_front::after,
.flip_card_back::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 1;
  backface-visibility: hidden;
  border-radius: 0.6rem;
}

.flip_card_inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  background-color: black;
  perspective: inherit;
  z-index: 2;
}

.flip_card_back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border: 2px solid white;
}

.flip_card_front,
.flip_card:hover .flip_card_back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.flip_card:hover .flip_card_front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}
