@font-face {
  font-family: PixeloidBold;
  src: url(/fonts/PixeloidSans-Bold.ttf);
}

.landing_main {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, black, transparent),
    url(/landing.svg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: saturate(1.6);
  overflow: hidden;
  color: white;
  font-family: PixeloidBold;

  .pixel {
    position: fixed;
    width: 3rem;
    aspect-ratio: 1;
    user-select: none !important;
    pointer-events: none;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: url(#pixelate);
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 0.1);
  }

  i {
    position: absolute;
    top: 0;
    height: 100px;
    background: linear-gradient(transparent, white);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: rain 5s linear infinite;
    z-index: -2;
  }

  i:nth-child(3n + 1) {
    background: linear-gradient(transparent, rgb(63, 2, 81));
  }

  i:nth-child(3n + 2) {
    background: linear-gradient(transparent, #d03cab);
  }

  @keyframes rain {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(calc(100vh + 200px));
    }
  }

  .superflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .tag {
      width: 90rem;
      position: absolute;
      top: -1rem;
      z-index: -1;

      @media screen and (max-width: 1024px) {
        top: 0rem;
      }
      @media screen and (max-width: 440px) {
        top: 6rem;
        width: 65rem;
        height: 40rem;
      }
      @media screen and (max-width: 310px) {
        top: 10rem;
        width: 45rem;
        height: 30rem;
      }
    }
    .nitshack {
      margin-top: 22rem;
      font-size: 2.8rem;
      @media screen and (max-width: 440px) {
        font-size: 2rem;
        margin-top: 20rem;
      }
      @media screen and (max-width: 390px) {
        font-size: 1.9rem;
      }
      @media screen and (max-width: 351px) {
        font-size: 1.7rem;
      }
      @media screen and (max-width: 310px) {
        font-size: 1.6rem;
        margin-top: 15rem;
      }
    }
    .dates,
    .month {
      font-size: 2rem;
      @media screen and (max-width: 440px) {
        font-size: 1.8rem;
      }
      @media screen and (max-width: 390px) {
        font-size: 1.7rem;
      }
      @media screen and (max-width: 351px) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: 310px) {
        font-size: 1.4rem;
      }
    }
    .dates {
      margin-top: 1rem;
    }
    .arrow {
      width: 8rem;
      transform: rotateZ(-90deg);
      cursor: pointer;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}
