.MainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    .title{
        font-family: "Pixeloid";
      font-size: 3rem;
      color: white;
      line-height: 2.5rem;
      padding: 1.5rem 1rem 1.5rem 1rem;
      background-image: linear-gradient(to bottom, #ff0101, #000000);
      background-clip: text;
      -webkit-text-stroke-color: transparent;
      -webkit-text-stroke-width: 0.4rem;
      background-clip: text;
    }
}