@font-face {
  font-family: Pixeloid;
  src: url("./PixeloidSans-Bold.ttf");
}
$fontcolor: #ffffff;
.sponsorCont {
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: #000;
}
.pagebody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin-top: 1.5rem;
}
.card {
  height: 15rem;
  width: 25rem;
  margin-bottom: 0;
  overflow: hidden;
}

.box {
  background: url("./background/lovepik-technology-border-png-image_401017818_wh1200-removebg-preview\ 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.img {
  height: 15rem;
  width: 7rem;
  position: relative;
  overflow: hidden;
  border-radius: 2%;
}

.heading {
  background-clip: text;
  -webkit-text-stroke: 2.7px transparent;
  background-image: linear-gradient(
    180deg,
    rgb(255, 1, 1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  color: #ffffff;
  font-family: Pixeloid;
  font-size: 2.1rem;
  font-weight: 700;
  height: 4.56;
  left: 0;
  letter-spacing: 0;
  line-height: 2.5rem;
  text-align: center;
  top: 0;
  width: 100vw;
}
@media screen and (max-width: 850px) {
  .card {
    height: 12rem;
    width: 17rem;
  }
  .img {
    height: 13rem;
    width: 5rem;
  }
}

@media screen and (max-width: 570px) {
  .card {
    height: 12rem;
    width: 14rem;
  }
  .img {
    height: 13rem;
    width: 5rem;
    bottom: 0.5rem;
  }
  .heading {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 850px) {
  .card {
    position: relative;
    left: 3.2rem;
  }
}
@media screen and (max-width: 480px) {
  .card {
    height: 8rem;
    width: 10rem;
  }
  .img {
    height: 11rem;
    width: 4rem;
    bottom: 1.3rem;
    left: 3rem;
  }
  .pagebody {
    gap: 1.5rem;
  }
  .heading {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 480px) {
  .img {
    left: 5rem;
  }
}
