@font-face {
  font-family: Pixeloid;
  src: url(/fonts/PixeloidSans.ttf);
}

.container {
  max-width: 100%;
  height: 100vh;
  background-image: url(/space.png);
  background-size: contain;
  padding: 2.3rem;
  font-family: Pixeloid;
  color: #d03cab;

  .glow_container {
    border: 0.4rem solid #d03cab;
    box-shadow: 1px 2px 3px 0.2rem #ce72b7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      display: flex;
      width: 100%;
      padding: 1.5rem;
      justify-content: space-between;
      font-size: 0.8rem;
      text-align: center;
      @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
      }
      .bit,
      .transfer {
        @media screen and (max-width: 440px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 390px) {
          font-size: 0.9rem;
        }
        @media screen and (max-width: 340px) {
          font-size: 0.7rem;
        }
      }
    }

    .insignia {
      img {
        position: relative;
        height: 25rem;
        @media screen and (max-width: 1024px) {
          top: 4rem;
          height: 22rem;
        }
        @media screen and (max-width: 700px) {
          top: 10rem;
          height: 15rem;
        }
        @media screen and (max-width: 550px) {
          top: 8rem;
          height: 10rem;
        }
        @media screen and (max-width: 480px) {
          top: 10rem;
          height: 10rem;
        }
        @media screen and (max-width: 380px) {
          top: 9rem;
        }
        @media screen and (max-width: 340px) {
          top: 12rem;
          height: 7rem;
        }
        @media screen and (max-width: 280px) {
          height: 5rem;
        }
      }
    }
    .upgrading {
      background-color: black;
      padding: 0rem 0.7rem;
      position: absolute;
      width: 30rem;
      bottom: 1rem;
      @media screen and (max-width: 480px) {
        width: 15rem;
        bottom: 1.5rem;
      }
    }
  }
}
