@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@font-face {
  font-family: Pixeloid;
  src: url("/fonts/PixeloidSans-Bold.ttf");
}

@font-face {
  font-family: PixeloidLight;
  src: url("/fonts/PixeloidSans.ttf");
}

:root {
  --hacks-color-1: #400250;
  --font-color-1: #ffffff;

  --gdsc-red-1-100: #db3236;
  --gdsc-red-2-100: #f0766c;

  --gdsc-cyan-1: #C7FFF2;

  --gdsc-dark-1-100: #1d192b;
  --gdsc-content-1-100: #313033;
  --gdsc-grayish-1-100: #49454f;
  --gdsc-line-1-100: #c5c5c5;
  --gdsc-bg-1-100: #dbdbdb;
  --gdsc-neutral-1-100: #605d62;
  --gdsc-shadow-1-100: rgb(218, 215, 215);

  --grey-text-1-100: rgba(101, 108, 115, 1);
  --grey-text-1-70: rgba(101, 108, 115, 0.7);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: #000000;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}

p {
  white-space: unset;
  text-wrap: balance;
}
