:root {
  --hacks-color-1: #400250;
  --font-color-1: #FFFFFF;

  --gdsc-red-1-100: #db3236;
  --gdsc-red-2-100: #f0766c;

  --gdsc-dark-1-100: #1d192b;
  --gdsc-content-1-100: #313033;
  --gdsc-grayish-1-100: #49454f;
  --gdsc-line-1-100: #c5c5c5;
  --gdsc-bg-1-100: #dbdbdb;
  --gdsc-neutral-1-100: #605d62;
  --gdsc-shadow-1-100: rgb(218, 215, 215);

  --grey-text-1-100: rgba(101, 108, 115, 1);
  --grey-text-1-70: rgba(101, 108, 115, 0.7);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background-color: #000000;
}